@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@theme {
  --color-primary: #1b1b1b;
  --color-borderline: #315361;
  --color-danger: #f06473;
}
@layer utilities {
  .border-gradient-to-r {
    border-image: linear-gradient(to right, var(--tw-gradient-stops));
    border-image-slice: 1;
  }
}